# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
package-lock.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The VUE.js ignore fine
.DS_Store
client/node_modules/
client/dist/
client/npm-debug.log*
client/selenium-debug.log*
client/.idea
client/package-lock.json
client/.eslintrc.js
client/.eslintignore
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/test/unit/coverage/

# The go path ignore
/bin/
/src/
/pkg/